@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Fraunces', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}
img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Desktop Design */
.card {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    max-width: 600px;
    height: 450px;
    border-radius: 10px;
}
.picture-container {
    display: block;
    width: 50%;
    height: 100%;
}
.picture-container img {
    border-radius: 10px 0 0 10px;
}
.text-container {
    width: 50%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sales-item {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}
h1 {
    font-family: 'Fraunces';
    font-size: 30px;
    color: hsl(212, 21%, 14%);
    margin-right: 50px;
}
p {
    color: hsl(228, 12%, 48%);
    line-height: 25px;
}
.prices {
    display: flex;
    align-items: center;
}
.discount-price {
    color: hsl(158, 36%, 37%);
    font-size: 28px;
    font-family: 'Fraunces';
}
.old-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin-left: 20px;
    font-weight: 500;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
button img {
    width: 14px;
    margin-right: 10px;
}
button:hover {
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Desktop 1440px*/
@media (max-width:650px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 610px;
    }
    .picture-container {
        height: 240px;
        width: 100%;
    }
    .picture-container img {
        border-radius: 10px 10px 0 0;
    }
    .text-container {
        margin: 22px;
        justify-content: space-around;
        width: 87%;
        height: 100%;    
    }
    h1 {
        margin-right: 0;
    }
    .prices {
        margin: 10px 0 10px 0;
    }
}